<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link rel = stylesheet type = "text/css" href="/css/mymap.css">
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/mymap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYql-Z1TY8eY2OTP_TBKfLumnTm-BC8R0&callback=initMap"
    async defer></script> 
  </body>
</html>

